<h3>View all trips</h3>

<%= link_to "Create a new trip", new_trip_path %>

<table>
  <tr>
    <th>Date</th>
    <th>Starts On</th>
    <th>Place</th>
    <th>Status (if completed)</th>
  </tr>
  <%= render @trips %>
</table>
