<div class="incoming-trip main-box">
  <h3>Incoming Trip</h3>

  <table>
    <tr>
      <th>Date</th>
      <th>Starts</th>
      <th>Estimated Ends</th>
      <th>Place</th>
      <th>Status</th>
    </tr>
    <%= render @incoming_trips %>
  </table>
</div>

<div class="archived-trip main-box">
  <h3>Archived Trip</h3>

  <table>
    <tr>
      <th>Date</th>
      <th>Starts</th>
      <th>Estimated Ends</th>
      <th>Place</th>
      <th>Status</th>
    </tr>
    <%= render @archived_trips %>
  </table>
</div>

<div class="new-trip-link main-box">
  <%= link_to "Create a new trip", new_trip_path %>
</div>
