<div class="sign-wrapper">
  <h2 class="sign-header">Sign In</h2>

  <%= form_for :session, url: session_path, class: "sign-form" do |form| %>
    <div class="form-item">
      <%= form.email_field :email, placeholder: "Email" %>
    </div>
    <div class="form-item">
      <%= form.password_field :password, placeholder: "Password" %>
    </div>
    <div class="form-submit">
      <%= form.submit "Signin" %>
    </div>
  <% end %>
</div>
