<h3>All users</h3>

<% User.all.each do |user| %>
  <div>
    <%= user.email %>
  </div>
<% end %>

<h3>This trip (owner: <%= @trip.owner.email %>) is now shared to</h3>

<ul class="share-user-list">
  <%= render partial: @shared_users, locals: { trip: @trip } %>
</ul>

<h3>Share to more friends</h3>

<ul class="unshare-user-list">
  <%= render partial: @unshared_users, locals: { trip: @trip } %>
</ul>
