body {
  @include outer-container;
  max-width: 100%;
  font: 15px/1.4 Helvetica, arial;
  color: #333;
  background-color: #fff;
  margin: 0;
  display: block;
}

.header {
  @include span-columns(12);
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ccc;
  background-color: #232b2d;
  height: 42px;

  .header-container {
    @include span-columns(8);
    @include shift(2);
    box-shadow: 0 0 10px 1.5px rgba(0, 0, 0, 0.1);
  }
}

.header-logo {
}

.header-title {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.header-nav {
  padding-left: 10px;
  padding-right: 10px;

  .header-nav-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    .header-nav-item {
      float: left;
      display: inline block;
    }
  }
}

.main {
  @include span-columns(12);
  background-color: #f1f1f1;

  .main-container {
    @include span-columns(8);
    @include shift(2);
    border: 0 none;
    box-shadow: 0 0 10px 1.5px rgba(0, 0, 0, 0.3);
  }
}

.footer {
  @include span-columns(12);
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #232b2d;
  color: #ccc;

  .footer-container {
    @include span-columns(8);
    @include shift(2);
  }
}

.footer-nav {
  padding-left: 10px;
  padding-right: 10px;

  .footer-nav-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    .footer-nav-item {
      float: left;
      display: inline block;
    }
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both
}
