a {
  text-decoration: none;
}

.header-title-link {
  color: #ccc;
}

.header-title-link:hover {
  color: #1fbc5a;
}

.header-nav-link {
  padding: 4px 8px;
  color: #ccc;
}

.header-nav-link:hover {
  color: #0040fa;
}

.share-link {
}

.footer-nav-link {
  padding: 4px 8px;
  color: #333;
}

.footer-nav-link:hover {
  color: #0040fa;
}
